{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  },
  "JwtSettings": {
    "Secret": ..,
    "Issuer": "zentik-server",
    "Audience": "zentik-client",
    "ExpirationMinutes": 43200
  },
  "DbSettings": {
    "ConnectionString": "Host=...;Username=...;Password=...;Database=..."
  },
  "EmailSettings": {
    "EmailPassword": "...",
    "EmailAddr": "smtp.yandex.ru",
    "Port": 465,
    "Security": "SSL"
  }
}
